# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.playwright/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Production
releases/
*.zip
projects/app/assets/icon*.png

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version
